
*.meta
Space_Shooter/Assets/Tutorial_Info/Scripts.meta
Space_Shooter/Assets/_Prefabs/Jesse'sPrefabs/GabrielAguiarProductions/Unique_Projectiles_Volume_2/LWRP/UniqueProjectilesVol2_LWRP_v1.0_2018.2.14f1.unitypackage.meta
Space_Shooter/Assets/_Prefabs/Jesse'sPrefabs/GabrielAguiarProductions/Unique_Projectiles_Volume_2/HDRP/UniqueProjectilesVol2_HDRP_v1.0_2018.2.14f1.unitypackage.meta
Space_Shooter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Space_Shooter/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Space_Shooter/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
